# Installation

Install using **npm**:
```shell
npm install -D @rgossiaux/svelte-headlessui
```

Install using **pnpm**:
```shell
pnpm install -D @rgossiaux/svelte-headlessui
```

Install using **yarn**:
```shell
yarn add -D @rgossiaux/svelte-headlessui
```
